<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Index.css' %}">
    <title>會員註冊</title>
</head>
{% block content %}
<body class="e-body">
    <div class="e-content">
        <h1>&#9997加入我們！</h1>
        <div class="e-content1">
            <h4>請填寫註冊資料</h4>
            <div class="e-info">
                <form method="POST">  
                    {% csrf_token %} 
                    <table>
                    {{ form.as_p }}
                    </table>
                </form>        
            </div>
            <div class="e-info1">
                <input class="bttn" type="submit" value="送出資料">
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>